.projects--container {
  display: flex;
  flex-direction: column;
  background-color: brown;
  width: 100%;
  min-height: 100vh;
}

.projects--container__header {
  display: flex;
  flex-direction: column;
  background-color: azure;
}

.projects--header__title {
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: bolder;
  padding: 1rem 0;
  background-color: blue;
}

.projects--header__description {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: brown;
}

.header--description__para1 {
  font-size: 1.1rem;
  letter-spacing: 1px;
  width: 40%;
  padding-bottom: 1rem;
  background-color: blueviolet;
}

.projects--header__details {
  display: flex;
  flex-direction: row;
  width: 40%;
  background-color: burlywood;
}

.header--details__box1 {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: cadetblue;
}

.details--box1__title {
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.details--box1__description {
  padding-top: 0.8rem;
  font-size: 1.1rem;
}

.header--details__box2 {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: aquamarine;
}

.details--box2__title {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 1.1rem;
}

.details--box2__list {
  list-style-type: none;
  padding-top: 0.8rem;
  font-size: 1.1rem;
  background-color: green;
}

.header--details__box3 {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: antiquewhite;
}

.details--box3__title {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 1.1rem;
}

.details--box3__description {
  padding-top: 0.8rem;
  font-size: 1.1rem;
}

.projects--image__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: aquamarine; */
  padding: 1rem 0;
  /* height: 40vh; */
}

.projects--image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  width: 95%;
  height: auto;
  background-size: cover;
}

.projects--img {
  min-width: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 12px 2px #2e2d2d;
}

.projects--webstack__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: aquamarine;
}

.projects--webstack__purpose {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: bisque;
}

.webstack--purpose__title {
  font-size: 2rem;
  letter-spacing: 1px;
  background-color: blue;
  padding: 1rem 0;
}

.webstack--purpose__paragraphs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

.purpose__para1 {
  background-color: blueviolet;
}

.purpose__para2 {
  background-color: cadetblue;
}

.projects--webstack__explanation {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.webstack--explanation__title {
  font-size: 2rem;
  letter-spacing: 1px;
  background-color: blue;
  padding: 1rem 0;
}

.webstack--explanation__container {
  display: flex;
  flex-direction: row;
}

.webstack--list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: chocolate;
}

.webstack--explanation {
  flex: 1;
  background-color: crimson;
}

.projects--process__container {
  display: flex;
  flex-direction: column;
  background-color: chartreuse;
}

.projects--process__title {
  background-color: blue;
  padding: 1rem 0;
  font-size: 2rem;
  letter-spacing: 1px;
}

.projects--process__description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

.process--description__para1 {
  background-color: blueviolet;
}

.process--description__para2 {
  background-color: orange;
}

.projects--lesson__container {
  background-color: orchid;
  display: flex;
  flex-direction: column;
}

.projects--lesson__title {
  background-color: blue;
  padding: 1rem 0;
  font-size: 2rem;
  letter-spacing: 1px;
}

@media screen and (max-width: 500px) {
  .projects--header__title {
    font-size: 1.5rem;
    padding: 0.5rem 0;
  }

  .header--description__para1 {
    width: 100%;
    padding-bottom: 0.8rem;
  }

  .projects--header__details {
    width: 100%;
  }

  .webstack--purpose__title {
    padding: 0.5rem 0;
    font-size: 1.5rem;
  }

  .webstack--purpose__paragraphs {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding-bottom: 0.5rem;
  }

  .webstack--explanation__title {
    padding: 0.5rem 0;
    font-size: 1.5rem;
  }

  .webstack--explanation__container {
    flex-direction: column;
  }

  .webstack--list {
    width: 100%;
  }
}
